.light {
  width: 125px;
  height: 125px;
  border-radius: 75px;
  background-color: #393939;
}

.red {
  background-color: red
}

.yellow {
  background-color: yellow
}

.green {
  background-color: green
}